* {
    margin: 0;
    padding: 0;
}

                                        /* NAV */

                                        /* FOOTER */

footer {
    background-color: black;
    padding: 3vh;
    margin: 0;
    }

footer p{
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: rgb(199, 199, 199);
    }


                                        /* BODY */
body {
    color: rgb(60, 60, 60);
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    }


                                        /* INICIO */
.indexMTittle h1 {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 35px;
    padding-top: 3vh;
    }

.indexMTittle h2 {
    color: gray;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    padding-top: 1vh;
    }   

.indexMTittle {
    text-align: center;
    }

.indexMTittle {
    background-image: url(https://images.pexels.com/photos/532568/pexels-photo-532568.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: top;
    height: 30vh;
    }    

#ofrecemos {
    align-items: center;
    padding-top: 3vh;
    }
    
#ofrecemos h3{
    font-weight: 800;
    }

.serviciosIconos img{
    width: 50%;
    padding: 0;   
    }

.serviciosIconos {
    text-align: center;
    padding-bottom: 2vh;
    }
        
    
                                        /* SOBRE NOSOTROS */
#presentaNos {
    align-items: center;
    text-align: center;
    padding-top: 3vh;
    }

#sobreNosotros {
    text-align: center;
    padding-top: 3vh;   
    }

#sobreNosotros h1 {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 35px;
    padding-top: 3vh;
    }

#sobreNosotros p {
    padding-top: 1vh;  
    }

.int3, .cuadroCons {    
    padding-bottom: 3vh;  
    }

.Integrantes img{
    width: 80%;
    padding: 0;
    }

.Integrantes h3{
    font-weight: 800;
    }


                                        /* SERVICIOS */
#servTittle {
    align-items: center;
    text-align: center;
    padding: 3vh 0 5vh 0;
    }

#servTittle h2 {
    color: gray;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    padding-top: 1vh;
    }   

#servTittle h1 {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 35px;
    padding-top: 3vh;
    }   

.gestionServ li {
    padding: 1vh 0vh;
    }

#carousel {
    padding: 3vh 0 10vh 0;
    }


                                        /* NOTICIAS */
#noticias {
    align-items: center;
    text-align: center;
    padding: 3vh 0 5vh 0;
    align-items: center;
    }

#noticias h1 {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 35px;
    padding-top: 3vh;
    }   


                                        /* CONTACTO */
#presTittle {
    align-items: center;
    text-align: center;
    padding: 3vh 0 5vh 0;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 35px;
    padding-top: 3vh;
    }

.mainCont h2{
    font-weight: 700;
    }

.comoPres {
    padding-bottom: 5vh;
    }

.formContacto h2{
    font-weight: 800;
    text-align: center;
    padding-bottom: 2vh;
    }

.formContacto {
    padding-bottom: 5vh;
    }


                                                                         /* DESKTOP */
@media screen and (min-width: 1100px) {

                                        /* NAV */
.navbar {
    list-style-type: none;
    margin: 0;
    padding: 20px;
    overflow: hidden;
    background-color: rgb(60, 60, 60);
    }

.navbar li a {  
    padding: 10px 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: white;
    }

nav ul li a:hover {
    color: #949494!important;
    }

                                        /* FOOTER */
footer {
    padding: 4vh;
    }  

footer span {
    font-family: 'Lato', sans-serif;
    color: rgb(199, 199, 199);
    }

                                        /* INICIO */

.indexMTittle {
    padding: 15vh 25vh;
    background-image: url(https://images.pexels.com/photos/532568/pexels-photo-532568.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    background-repeat: no-repeat;
    background-position:50% 50%;
    background-size: cover;
    height: 50vh;
    text-align: left;
    }

.indexMTittle h1{
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 50px;
    }

.indexMTittle h2{
    color: gray;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    padding-top: 2vh;
    }

#ofrecemos {
    text-align: left;
    padding: 2rem;
    align-items: center;
    display: flex;
    flex: 1;
    padding: 10vh 25vh; 
    }   

.serviciosIconos {
    text-align: left;
    display: flex;
    flex: 1;
    }

.serviciosIconos span {
    padding-left: 20px;  
    font-size: 18px; 
    }

.serviciosIconos h3 {
    font-weight: 800;    
    font-size: 25px;
    }

.serviciosIconos img {
    width: 50px;
    height: 50px;
    }
                                        /* SOBRE NOSOTROS */
#sobreNosotros {
    padding-top: 7vh;
    }

#sobreNosotros p {
    font-size: 18px;
    }

#sobreNosotros h1{
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 50px;
    }

#presentaNos h3 {
    font-weight: 700;    
    font-size: 25px;
    }

#presentaNos p {
    font-size: 18px;    
    }

.Integrantes {    
    padding-bottom: 7vh;
    }

.cuadroCons {
    padding-bottom: 7vh;
    }
                                        /* SERVICIOS */
#servTittle {
    padding-top: 7vh;
    }

#servTittle h1{
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 50px;
    }

#servTittle h2{
    color: gray;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    padding-top: 2vh;
    }    

.gestionServ {
    padding-bottom: 7vh;
    }

.gestionServ h3{
    font-weight: 700;    
    font-size: 25px;
    padding-bottom: 3vh;
    }

                                        /* NOTICIAS */
#noticias h1{
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 50px;  
    padding-top: 6vh;
    }           

#sectionNot {
    padding: 0 25vh 10vh 25vh; 
    }

.card img {
    width: auto;
    height: auto;
    }

.card-title {
    font-weight: 700;    
    font-size: 25px;
    }

.card-text {    
    font-size: 18px;
    }
                                        /* CONTACTO */
#presTittle {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 50px;  
    padding-top: 7vh;
    }

.comoPres h2 {
    color: rgb(83, 83, 83);
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    padding-top: 2vh;
    padding-bottom: 2vh;
    }

.comoPres li {
        font-size: 18px;
    }

.formContacto h2 {
    font-weight: 800;    
    font-size: 25px;
    }

}
